@{
    Layout = null;
}
<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="In our Campus you can, Our Courses, Our Teachers, John Mcallister, Jane Doe, Mary Mgrayan, Hanna Kim, 44, +10 K, +47, 15, Our Blog, Our university, Course Registration">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>MainPage</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/MainPage.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.5.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">



    <meta property="og:title" content="MainPage">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#73a3de">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">
    <header class="u-clearfix u-header u-header" id="sec-e20f">
        <div class="u-clearfix u-sheet u-sheet-1">
            <img src="~/Images/photo_2021-02-10_14-38-33.jpg" alt="" class="u-align-left u-image u-image-default u-image-1" data-image-width="300" data-image-height="70">
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                    <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                    <rect y="1" width="16" height="2"></rect>
                                    <rect y="7" width="16" height="2"></rect>
                                    <rect y="13" width="16" height="2"></rect>
                                </symbol>
                            </defs>
                        </svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="#sec-e20f" style="padding: 10px 0px;">Главная</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="#sec-16e6" style="padding: 10px 0px;">Наши программы</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="#sec-abc0" style="padding: 10px 0px;">Наши преподаватели</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="#sec-80d0" style="padding: 10px 0px;">Новости</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="../Home/Login" style="padding: 10px 0px;">Вход</a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="#sec-e20f" style="padding: 10px 0px;">Главная</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="#sec-16e6" style="padding: 10px 0px;">Наши программы</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="#sec-abc0" style="padding: 10px 0px;">Наши преподаватели</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="#sec-80d0" style="padding: 10px 0px;">Новости</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="../Home/Login" style="padding: 10px 0px;">Вход</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <section class="u-clearfix u-image u-parallax u-shading u-section-1" id="sec-b5dd">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-container-style u-expanded-width u-group u-group-1">
                <div class="u-container-layout u-valign-bottom">
                    <h1 class="u-custom-font u-font-oswald u-text u-title u-text-1">Получите новые навыкии станьте востребованным специалистом</h1>
                    <p class="u-text u-text-2">Вместе с AZschool</p>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-bd00">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <span class="u-align-left u-icon u-icon-1">
                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 470 470" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9124"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 470 470" enable-background="new 0 0 470 470" id="svg-9124" class="u-svg-content">
                                        <g>
                                            <path d="m429.591,418.378l-62.223-150.218c-1.585-3.826-5.972-5.645-9.799-4.059s-5.645,5.973-4.059,9.799l56.251,135.801-51.309-14.867c-3.368-0.977-6.965,0.513-8.656,3.586l-25.769,46.793-60.357-145.716c69.663-13.434 122.447-74.853 122.447-148.378 0.001-83.327-67.79-151.119-151.117-151.119s-151.119,67.792-151.119,151.119c0,33.751 11.124,64.951 29.896,90.133l-73.368,177.126c-1.103,2.664-0.582,5.724 1.341,7.872 1.922,2.148 4.907,3.004 7.676,2.202l60.533-17.541 30.4,55.207c1.324,2.403 3.847,3.882 6.568,3.882 0.138,0 0.277-0.004 0.416-0.011 2.879-0.16 5.411-1.955 6.515-4.619l58.136-140.353c1.585-3.827-0.232-8.214-4.059-9.799-3.827-1.585-8.214,0.232-9.799,4.059l-52.165,125.936-25.767-46.793c-1.692-3.073-5.291-4.563-8.657-3.586l-51.308,14.867 64.397-155.469c27.598,29.52 66.86,48.005 110.364,48.005 4.491,0 8.933-0.209 13.325-0.594l67.818,163.727c1.103,2.664 3.636,4.459 6.514,4.618 0.14,0.008 0.278,0.012 0.417,0.012 2.721,0 5.244-1.479 6.567-3.882l30.401-55.207 60.533,17.541c2.771,0.803 5.753-0.054 7.676-2.202 1.923-2.148 2.443-5.208 1.34-7.872zm-330.71-267.259c2.84217e-14-75.056 61.063-136.119 136.119-136.119 75.056,0 136.118,61.063 136.118,136.119s-61.062,136.118-136.118,136.118c-75.056,0-136.119-61.062-136.119-136.118z"></path>
                                            <path d="m321.659,122.961c-0.863-2.658-3.135-4.616-5.892-5.079l-50.467-8.469-23.649-45.379c-1.292-2.479-3.855-4.034-6.651-4.034-2.795,0-5.359,1.555-6.651,4.034l-23.65,45.379-50.466,8.469c-2.757,0.462-5.028,2.42-5.892,5.079-0.864,2.659-0.178,5.577 1.781,7.572l35.85,36.515-7.54,50.614c-0.412,2.765 0.748,5.529 3.01,7.173 2.26,1.642 5.249,1.891 7.751,0.646l45.807-22.812 45.806,22.812c1.059,0.527 2.203,0.787 3.343,0.787 1.557,0 3.104-0.484 4.409-1.432 2.262-1.644 3.422-4.408 3.01-7.173l-7.539-50.614 35.85-36.516c1.958-1.995 2.644-4.913 1.78-7.572zm-50.951,36.244c-1.648,1.679-2.413,4.033-2.066,6.359l5.97,40.074-36.268-18.061c-1.054-0.524-2.198-0.787-3.344-0.787-1.145,0-2.291,0.262-3.343,0.787l-36.268,18.061 5.97-40.074c0.347-2.326-0.418-4.681-2.066-6.359l-28.385-28.912 39.957-6.706c2.32-0.389 4.323-1.844 5.41-3.93l18.725-35.929 18.725,35.93c1.088,2.086 3.09,3.541 5.41,3.93l39.958,6.706-28.385,28.911z"></path>
                                            <path d="m348.612,158.684c-4.107-0.549-7.877,2.343-8.42,6.45-6.957,52.507-52.18,92.104-105.192,92.104-58.514,0-106.119-47.604-106.119-106.119s47.605-106.119 106.119-106.119c53.013,0 98.235,39.596 105.192,92.104 0.543,4.107 4.32,7.001 8.42,6.45 4.105-0.544 6.994-4.314 6.449-8.42-7.94-59.936-59.555-105.134-120.061-105.134-66.785,0-121.119,54.333-121.119,121.119s54.334,121.118 121.119,121.118c60.506,0 112.121-45.198 120.062-105.134 0.544-4.105-2.344-7.875-6.45-8.419z"></path>
                                        </g>
                                    </svg>
                                </span>
                                <h3 class="u-custom-font u-font-oswald u-text u-text-1">Официальное Признание</h3>
                                <p class="u-text u-text-2">После окончания наших учебных программ вы сможете поличить официальные сертификаты о прохождении обучения для работодателей.</p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-size-20 u-size-20-md u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <span class="u-align-left u-icon u-icon-2">
                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6cc5"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-6cc5" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="u-svg-content"><g><g><g><path d="M50.918,445.739c1.143,0,2.295-0.23,3.405-0.717c27.221-11.853,73.19-18.022,136.678-18.347l6.161,12.339     c2.116,4.216,7.245,5.939,11.452,3.814c4.215-2.108,5.931-7.228,3.814-11.443l-8.525-17.067     c-1.451-2.893-4.403-4.719-7.637-4.719c-69.538,0-118.204,6.468-148.762,19.772c-4.318,1.886-6.289,6.912-4.412,11.238     C44.493,443.819,47.625,445.739,50.918,445.739z"></path><path d="M494.933,460.8h-17.067v-42.667c0-2.261-0.905-4.437-2.5-6.033l-51.268-51.26c1.604-3.337,2.569-7.031,2.569-10.974     c0-14.114-11.486-25.6-25.6-25.6c-14.114,0-25.6,11.486-25.6,25.6s11.486,25.6,25.6,25.6c3.942,0,7.629-0.964,10.965-2.56     l48.768,48.759V460.8H17.067C7.654,460.8,0,468.454,0,477.867v25.6C0,508.177,3.823,512,8.533,512s8.533-3.823,8.533-8.533v-25.6     h477.867v25.6c0,4.71,3.814,8.533,8.533,8.533c4.719,0,8.533-3.823,8.533-8.533v-25.6C512,468.454,504.337,460.8,494.933,460.8z      M401.067,358.4c-4.71,0-8.533-3.831-8.533-8.533s3.823-8.533,8.533-8.533s8.533,3.831,8.533,8.533S405.777,358.4,401.067,358.4z     "></path><path d="M121.83,255.249c6.221,16.196,26.803,68.42,41.737,90.82l1.348,2.039c10.957,16.614,29.286,44.424,91.085,44.424     c61.79,0,80.128-27.81,91.085-44.424l1.348-2.039c14.933-22.4,35.507-74.624,41.737-90.82c11.145-2.773,19.43-12.86,19.43-24.849     v-34.133c0-11.127-7.134-20.617-17.067-24.141V128c0-33.69-17.741-95.923-83.362-101.931c-0.128-4.028-1.459-7.27-2.944-9.668     C297.839,2.842,274.287,0,256,0C104.158,0,102.4,143.616,102.4,145.067c0,4.71,3.814,8.525,8.516,8.525h0.017     c4.702,0,8.516-3.806,8.533-8.516c0.017-5.222,1.937-128.009,136.533-128.009c24.132,0,33.801,5.222,35.712,8.311     c0.265,0.435,0.99,1.604-0.683,4.941c-1.323,2.645-1.178,5.786,0.375,8.303c1.562,2.509,4.301,4.045,7.262,4.045     c75.657,0,76.791,81.86,76.8,85.333v51.2c0,4.71,3.814,8.533,8.533,8.533c4.71,0,8.533,3.831,8.533,8.533V230.4     c0,4.702-3.823,8.533-8.533,8.533c-3.558,0-6.741,2.21-7.996,5.538c-0.247,0.674-25.446,67.644-41.771,92.126l-1.399,2.116     c-10.223,15.514-24.235,36.753-76.834,36.753c-52.608,0-66.611-21.239-76.834-36.753l-1.399-2.116     c-16.324-24.482-41.523-91.452-41.779-92.126c-1.246-3.328-4.429-5.538-7.987-5.538c-4.702,0-8.533-3.831-8.533-8.533v-34.133     c0-2.313,0.922-4.412,2.423-5.948c3.098,6.955,9.421,13.21,20.045,14.268l29.201,21.897C173.414,243.106,187.554,256,204.8,256     h17.067C240.691,256,256,240.691,256,221.867C256,240.691,271.309,256,290.133,256H307.2c17.237,0,31.394-12.894,33.664-29.525     l31.189-23.381c3.772-2.825,4.54-8.175,1.707-11.947c-2.825-3.772-8.175-4.548-11.947-1.707l-21.751,16.316     c-3.251-10.402-12.86-18.022-24.329-18.022H281.6c-14.114,0-25.6,11.486-25.6,25.6c0-14.114-11.486-25.6-25.6-25.6h-34.133     c-11.46,0-21.069,7.62-24.328,18.022l-16.282-12.211c6.716-16.23,12.8-40.235,14.524-57.088     c26.897-0.478,104.713-3.763,139.332-25.37c7.851,30.31,33.05,55.817,34.321,57.08c3.336,3.336,8.73,3.336,12.066,0     c3.336-3.337,3.336-8.73,0-12.066c-0.316-0.316-31.633-31.983-31.633-62.234c0-3.831-2.56-7.202-6.255-8.226     c-3.678-1.024-7.629,0.546-9.591,3.831c-12.425,20.693-93.022,29.995-146.287,29.995c-4.71,0-8.533,3.823-8.533,8.533     c0,13.85-6.545,41.515-13.508,58.539c-2.722-1.638-3.49-4.693-3.558-7.339c0-4.71-3.823-8.533-8.533-8.533     c-14.114,0-25.6,11.486-25.6,25.6V230.4C102.4,242.389,110.686,252.476,121.83,255.249z M273.067,213.333     c0-4.702,3.823-8.533,8.533-8.533h34.133c4.71,0,8.533,3.831,8.533,8.533v8.533c0,9.412-7.654,17.067-17.067,17.067h-17.067     c-9.412,0-17.067-7.654-17.067-17.067V213.333z M187.733,213.333c0-4.702,3.831-8.533,8.533-8.533H230.4     c4.702,0,8.533,3.831,8.533,8.533v8.533c0,9.412-7.654,17.067-17.067,17.067H204.8c-9.412,0-17.067-7.654-17.067-17.067V213.333z     "></path><path d="M298.658,307.226c0.009-4.702-3.797-8.533-8.499-8.559c-0.162,0-15.42-0.171-30.345-7.637     c-2.398-1.195-5.231-1.195-7.629,0c-14.925,7.467-30.191,7.637-30.319,7.637c-4.71,0-8.533,3.823-8.533,8.533     s3.823,8.533,8.533,8.533c0.725,0,16.845-0.094,34.133-7.654c17.28,7.56,33.408,7.654,34.133,7.654     C294.835,315.733,298.641,311.927,298.658,307.226z"></path><path d="M315.708,409.95c-3.191,0.017-6.118,1.809-7.578,4.659l-8.533,16.708c-2.142,4.198-0.469,9.344,3.721,11.486     c1.237,0.631,2.569,0.93,3.874,0.93c3.106,0,6.101-1.698,7.612-4.651l6.153-12.066c46.643,0.128,84.207,3.618,111.735,10.377     c4.591,1.135,9.199-1.672,10.317-6.246c1.126-4.582-1.664-9.199-6.246-10.325C406.878,413.474,366.345,409.651,315.708,409.95z"></path><path d="M247.467,418.133V435.2c0,4.71,3.823,8.533,8.533,8.533s8.533-3.823,8.533-8.533v-17.067c0-4.71-3.823-8.533-8.533-8.533     S247.467,413.423,247.467,418.133z"></path><path d="M247.467,324.267c-4.71,0-8.533,3.823-8.533,8.533c0,4.71,3.823,8.533,8.533,8.533h17.067     c4.719,0,8.533-3.823,8.533-8.533c0-4.71-3.814-8.533-8.533-8.533H247.467z"></path>
</g>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                </span>
                                <h3 class="u-custom-font u-font-oswald u-text u-text-3">Лучшие Преподаватели</h3>
                                <p class="u-text u-text-4">Наши курс составлены, исходя из лучших учебных практик, успешно зарекомендовавших себя в ведщих университетах мира.</p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
                            <div class="u-container-layout u-valign-middle u-container-layout-3">
                                <span class="u-align-left u-icon u-icon-3">
                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b62e"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-b62e" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="u-svg-content"><g><g><path d="M460.8,200.748V51.2c-0.015-14.132-11.468-25.585-25.6-25.6h-8.533c-0.015-14.132-11.468-25.585-25.6-25.6H256    c-9.841,0.032-19.182,4.337-25.6,11.796C223.982,4.337,214.641,0.032,204.8,0H59.733c-14.132,0.015-25.585,11.468-25.6,25.6H25.6    C11.468,25.615,0.015,37.068,0,51.2v315.733c0.015,14.132,11.468,25.585,25.6,25.6h281.6V435.2    c0.049,42.395,34.405,76.751,76.8,76.8h51.2c42.395-0.049,76.751-34.405,76.8-76.8V273.067    C511.943,240.559,491.442,211.602,460.8,200.748z M426.667,42.667h8.533c4.71,0.006,8.527,3.823,8.533,8.533v145.57    c-2.833-0.326-5.682-0.494-8.533-0.503h-8.533V42.667z M85.333,17.067h51.2v112.208l-18.938-23.671    c-1.618-2.025-4.07-3.204-6.662-3.204c-2.592,0-5.044,1.179-6.662,3.204l-18.938,23.671V17.067z M51.2,25.6    c0.006-4.71,3.823-8.527,8.533-8.533h8.533V153.6c-0.002,3.625,2.287,6.854,5.708,8.054c3.42,1.2,7.225,0.107,9.488-2.725    l27.471-34.337l27.471,34.337c1.618,2.026,4.07,3.205,6.662,3.204c2.264,0.002,4.435-0.897,6.036-2.497    c1.601-1.601,2.499-3.772,2.497-6.036V17.067h51.2c9.422,0.009,17.057,7.645,17.067,17.067v278.34    c-5.344-3.407-11.542-5.235-17.879-5.274H51.2V25.6z M51.2,324.267h152.788c9.391,0.329,17.019,7.693,17.678,17.067H51.2V324.267z     M307.2,375.467H25.6c-4.71-0.006-8.527-3.823-8.533-8.533V51.2c0.006-4.71,3.823-8.527,8.533-8.533h8.533v307.2    c0,4.713,3.82,8.533,8.533,8.533H307.2V375.467z M307.2,341.333h-68.066c0.671-9.384,8.317-16.748,17.72-17.067H307.2V341.333z     M307.2,307.2h-50.346c-6.352,0.038-12.565,1.871-17.921,5.286V34.133c0.009-9.422,7.645-17.057,17.067-17.067h145.067    c4.71,0.006,8.527,3.823,8.533,8.533v170.667H384c-42.395,0.049-76.751,34.405-76.8,76.8V307.2z M401.067,213.333v110.933h-76.8    v-51.2c0.037-32.974,26.759-59.696,59.733-59.733H401.067z M494.933,435.2c-0.037,32.974-26.759,59.696-59.733,59.733H384    c-32.974-0.037-59.696-26.759-59.733-59.733v-93.867h170.667V435.2z M494.933,324.267h-76.8V213.333H435.2    c32.974,0.037,59.696,26.759,59.733,59.733V324.267z"></path>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                </span>
                                <h3 class="u-custom-font u-font-oswald u-text u-text-5">Современные Программы</h3>
                                <p class="u-text u-text-6">Наши программы специально созданы для того, чтобы быстро обучить людей наиболее востребованным в современным мире профессиям.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-image u-parallax u-shading u-section-3" id="sec-16e6" data-image-width="1050" data-image-height="750">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-tabs u-tabs-1">
                <ul class="u-tab-list u-unstyled" role="tablist">
                    <li class="u-tab-item" role="presentation">
                        <a class="active u-border-3 u-border-active-white u-border-hover-palette-3-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-tab-link" id="link-tab-f2d5" href="#tab-f2d5" role="tab" aria-controls="tab-f2d5" aria-selected="true">Технические дисциплины</a>
                    </li>
                    <li class="u-tab-item u-tab-item-2" role="presentation">
                        <a class="u-border-3 u-border-active-white u-border-hover-palette-3-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-tab-link" id="link-tab-2e44" href="#tab-2e44" role="tab" aria-controls="tab-2e44" aria-selected="false">
                            Маркетинг<br>
                        </a>
                    </li>
                    <li class="u-tab-item u-tab-item-3" role="presentation">
                        <a class="u-border-3 u-border-active-white u-border-hover-palette-3-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-tab-link" id="link-tab-3237" href="#tab-3237" role="tab" aria-controls="tab-3237" aria-selected="false">
                            Гуманитарные дисциплины<br>
                        </a>
                    </li>
                    <li class="u-tab-item u-tab-item-4" role="presentation">
                        <a class="u-border-3 u-border-active-white u-border-hover-palette-3-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-tab-link" id="link-tab-adf0" href="#tab-adf0" role="tab" aria-controls="tab-adf0" aria-selected="false">
                            Технологические дисциплины<br>
                        </a>
                    </li>
                </ul>
                <div class="u-tab-content">
                    <div class="u-container-style u-tab-active u-tab-pane" id="tab-f2d5" role="tabpanel" aria-labelledby="link-tab-f2d5">
                        <div class="u-container-layout u-container-layout-1">
                            <img src="~/Images/9d78815b65758b736576b28f8b3bc8232b8896e2393971e13d531c84f78e21bb8f54ee050ee3ac7f33cd83277668dd3658cf6ab5cbea2e028c91f0_1280.jpg" alt="" class="u-image u-image-default u-image-1" data-image-width="1280" data-image-height="853">
                            <img src="~/Images/f59212d5cf53ad5176cb05b53a3476548b27fb0d5ae6676e3fd131724f071e7fa4f7d87665d652e57e86795d3cfdf87db090cd69ded8fc1a157f96_1280.jpg" alt="" class="u-image u-image-default u-image-2" data-image-width="1280" data-image-height="854">
                            <img src="~/Images/d11da39ad327739b263b47e25bd048a9bccc3af82a4fcf00374567c1198996ebdc6c74268c4195e5f0dfd09c80c23bcccefed8fa4284d530351ef4_1280.jpg" alt="" class="u-image u-image-default u-image-3" data-image-width="1280" data-image-height="853">
                            <h6 class="u-text u-text-default u-text-1">Веб программирование</h6>
                            <h6 class="u-align-center u-text u-text-default u-text-2">
                                Программирование&nbsp;<br>микроконтроллеров
                            </h6>
                            <h6 class="u-align-center u-text u-text-default u-text-3">
                                Конструирование&nbsp;<br>роботехнических систем
                            </h6>
                            <p class="u-align-left u-text u-text-4">Создание сайтов разного уровня сложности с использованием самых популярных фреймворков.</p>
                            <p class="u-text u-text-5"> Основы программирование микроконтроллеров на языке C.</p>
                            <p class="u-text u-text-6">Построение и конструирование роботехнических систем на популярных модульных платформах.</p>
                        </div>
                    </div>
                    <div class="u-container-style u-tab-pane" id="tab-2e44" role="tabpanel" aria-labelledby="link-tab-2e44">
                        <div class="u-container-layout u-container-layout-2">
                            <img src="~/Images/07cd8a174c2af5c13eabc34e5fb960d37374f29bd0b592f2f765de512af14bbaee3e03d64e9f208e37a702d785a850f83b8198f32f42076c05731c_1280.jpg" alt="" class="u-image u-image-default u-image-4" data-image-width="150" data-image-height="99">
                            <img src="~/Images/bc3a6bbf9e58a6b0d80233ab755ecd2b5c0f21ebb8150487b0943fe63502a05355436e8154eea91cdf4f2fa8419da25604a552a188b4e4dd71a2ab_1280.jpg" alt="" class="u-image u-image-default u-image-5" data-image-width="1280" data-image-height="853">
                            <img src="~/Images/ea4508bbe1cd1071950b32a1337a1a47d3fbcfc65e41423745b2020a3454dd6472ddafd334736557d3262ee24e06f912fe4e23dc18548c08469888_1280.jpg" alt="" class="u-image u-image-default u-image-6" data-image-width="150" data-image-height="99">
                            <h6 class="u-text u-text-default u-text-7">Маркетинг</h6>
                            <h6 class="u-text u-text-default u-text-8">Основы продвижения</h6>
                            <h6 class="u-text u-text-default u-text-9">Реклама</h6>
                            <p class="u-text u-text-10">Типы и правила использования маркетинговых инструментов.</p>
                            <p class="u-text u-text-11">Инструменты и способы продвижения и продажи товаров и услуг.</p>
                            <p class="u-text u-text-12"> Основные инструменты онлайн и оффлайн рекламы.</p>
                        </div>
                    </div>
                    <div class="u-container-style u-tab-pane" id="tab-3237" role="tabpanel" aria-labelledby="link-tab-3237">
                        <div class="u-container-layout u-container-layout-3">
                            <img src="~/Images/08375d96983b307a90a718638c7553763bb2ff2d2bd1073d9f7fa978acb4e41211d9e88bce80cb166f3e43fb87a26500f7cf1bbcf912b31705be61_1280.jpg" alt="" class="u-image u-image-default u-image-7" data-image-width="1280" data-image-height="853">
                            <img src="~/Images/9c5d0f1a822db684d61e75e766ecda5d5c973f3c5d39d24e09591f390755071be5fc607481af6173c8bb74c3333a59cfbbbca9ebbb1a98f373a764_1280.jpg" alt="" class="u-image u-image-default u-image-8" data-image-width="1280" data-image-height="728">
                            <img src="~/Images/832ae5f411b3a5b8e7675afe28a41cfd71a49dd4cd8089614f3ab4189b990cf1fce5e5dd4101d5e37a8c12845db4ca160d37932e0dfc4f5eabde47_1280.jpg" alt="" class="u-image u-image-default u-image-9" data-image-width="1280" data-image-height="987">
                            <h6 class="u-text u-text-default u-text-13">Юриспруденция</h6>
                            <h6 class="u-text u-text-default u-text-14">Иностранные языки</h6>
                            <h6 class="u-text u-text-default u-text-15">Основы гос. управления</h6>
                            <p class="u-text u-text-16">Базовые основы юриспруденции и составления официальной документации.</p>
                            <p class="u-text u-text-17"> Вы сможете овладеть английским, турецким, французским и итальянским языком.</p>
                            <p class="u-text u-text-18"> Основы государственного управления и делопроизводства.</p>
                        </div>
                    </div>
                    <div class="u-container-style u-tab-pane" id="tab-adf0" role="tabpanel" aria-labelledby="link-tab-adf0">
                        <div class="u-container-layout u-container-layout-4">
                            <img src="~/Images/bf213b9c42560e50e60d01d15852206adea7d2a217ea4de803e33dbec1d5f2878961bff7c239f5305100b707facf99e7de63066c65e52f5e3ea202_1280.jpg" alt="" class="u-image u-image-default u-image-10" data-image-width="1280" data-image-height="853">
                            <img src="~/Images/31777ac8933864cbb2afd46ea6b36af628ed54b8505aa60e8ea8630fc364d6b7b3fd88e7f5de3a6a682902262f21188599a1f6305efffa067c8da3_1280.jpg" alt="" class="u-image u-image-default u-image-11" data-image-width="1280" data-image-height="852">
                            <img src="~/Images/ed2877914335885dd2d54ba856fdee5bc23e79b8eb74daeda7f46d0f0d64c857a65633473882925fcc9850e825b068a92df50f09aff11690dfce5f_1280.jpg" alt="" class="u-image u-image-default u-image-12" data-image-width="1280" data-image-height="853">
                            <h6 class="u-align-center u-text u-text-default u-text-19">
                                Шитье, конструирование&nbsp;<br>одежды, обуви
                            </h6>
                            <h6 class="u-text u-text-default u-text-20">Основы дизайна</h6>
                            <h6 class="u-align-center u-text u-text-default u-text-21">
                                Строительные и&nbsp;<br>отделочные работы
                            </h6>
                            <p class="u-text u-text-22" style="width: 330px; margin: 20px 0px 20px 0px;">Научитесь основам конструирования и дизайна одежды и обуви.</p>
                            <p class="u-text u-text-23" style="width: 330px; margin: -65px 0px 20px 350px;">Графический дизайн, визуальный дизайн и дизайн интерьера.</p>
                            <p class="u-text u-text-24" style="width: 330px; margin: -65px 0px 20px 800px;">Инструменты и способы проведения строительных и монтажных работ.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-container-style u-group u-group-1">
                <div class="u-container-layout">
                    <h2 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-25">Наши Программы</h2>
                    <p class="u-text u-text-body-alt-color u-text-26">Предлагаемые нами курсы обучения охватывают широкий спектр профессий и навыков, вы легко сможете выбрать именно то, что вам нужно.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-4" id="sec-abc0">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-align-center-sm u-container-style u-group u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <h2 class="u-custom-font u-font-oswald u-text u-text-1">Наши Преподаватели</h2>
                    <p class="u-text u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
            </div>
            <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-gutter-20 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-col">
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-10 u-size-30-md u-image-1">
                                    <div class="u-container-layout"></div>
                                </div>
                                <div class="u-container-style u-layout-cell u-size-20 u-size-30-md u-layout-cell-2">
                                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                                        <h2 class="u-custom-font u-font-oswald u-text u-text-3">John Mcallister</h2>
                                        <h6 class="u-text u-text-4">history TEACHER</h6>
                                        <p class="u-text u-text-5">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-1">
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-twitter u-social-type-logo u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f79f"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-f79f"><path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-instagram u-social-type-logo u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-32e0"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-32e0"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-linkedin u-social-type-logo u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a833"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-a833"><path d="M33.8,96.8H14.5v-58h19.3V96.8z M24.1,30.9L24.1,30.9c-6.6,0-10.8-4.5-10.8-10.1c0-5.8,4.3-10.1,10.9-10.1 S34.9,15,35.1,20.8C35.1,26.4,30.8,30.9,24.1,30.9z M103.3,96.8H84.1v-31c0-7.8-2.7-13.1-9.8-13.1c-5.3,0-8.5,3.6-9.9,7.1 c-0.6,1.3-0.6,3-0.6,4.8V97H44.5c0,0,0.3-52.6,0-58h19.3v8.2c2.6-3.9,7.2-9.6,17.4-9.6c12.7,0,22.2,8.4,22.2,26.1V96.8z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-google u-social-type-logo u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8907"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-8907"><path d="M62.2,81.6c-8.6,11.2-24.6,14.4-37.6,10C10.9,87,0.8,73.2,1,58.5c-0.8-18,15.2-34.6,33.1-34.9 c9.2-0.8,18.2,2.7,25,8.6c-2.9,3.1-5.7,6.2-8.9,9.2c-6.2-3.8-13.5-6.5-20.6-4C18.1,40.7,11,54.2,15.4,65.6 c3.5,11.8,17.8,18.3,29.2,13.2c5.8-2.1,9.7-7.4,11.3-13.2c-6.6-0.1-13.2,0-20.1-0.3c0-3.9,0-7.9,0-11.9c11.2,0,22.2,0,33.3,0 C69.9,63.4,68.3,73.9,62.2,81.6z M110.9,63.7c-3.4,0-6.6,0-10,0c0,3.4,0,6.6,0,10c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10 c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10c3.4,0,6.6,0,10,0c0-3.4,0-6.6,0.1-10c3.4,0,6.6,0,10,0c0,3.4,0,6.6,0,10c3.4,0,6.6,0,10,0 C110.9,56.9,110.9,60.3,110.9,63.7z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="#">
                                                <span class="u-icon u-icon-circle u-social-facebook u-social-type-logo u-icon-5"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1af3"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px" id="svg-1af3"><path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-container-style u-image u-layout-cell u-size-10 u-size-30-md u-image-2">
                                    <div class="u-container-layout"></div>
                                </div>
                                <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-layout-cell-4">
                                    <div class="u-container-layout u-valign-middle u-container-layout-5">
                                        <h2 class="u-custom-font u-font-oswald u-text u-text-6">Jane Doe</h2>
                                        <h6 class="u-text u-text-7">art TEACHER</h6>
                                        <p class="u-text u-text-8">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-2">
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-facebook u-social-type-logo u-icon-6"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9651"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-9651" class="u-svg-content"><path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-twitter u-social-type-logo u-icon-7"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2c28"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-2c28" class="u-svg-content"><path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-instagram u-social-type-logo u-icon-8"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-580f"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-580f" class="u-svg-content"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-google u-social-type-logo u-icon-9"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-151a"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-151a" class="u-svg-content"><path d="M62.2,81.6c-8.6,11.2-24.6,14.4-37.6,10C10.9,87,0.8,73.2,1,58.5c-0.8-18,15.2-34.6,33.1-34.9 c9.2-0.8,18.2,2.7,25,8.6c-2.9,3.1-5.7,6.2-8.9,9.2c-6.2-3.8-13.5-6.5-20.6-4C18.1,40.7,11,54.2,15.4,65.6 c3.5,11.8,17.8,18.3,29.2,13.2c5.8-2.1,9.7-7.4,11.3-13.2c-6.6-0.1-13.2,0-20.1-0.3c0-3.9,0-7.9,0-11.9c11.2,0,22.2,0,33.3,0 C69.9,63.4,68.3,73.9,62.2,81.6z M110.9,63.7c-3.4,0-6.6,0-10,0c0,3.4,0,6.6,0,10c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10 c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10c3.4,0,6.6,0,10,0c0-3.4,0-6.6,0.1-10c3.4,0,6.6,0,10,0c0,3.4,0,6.6,0,10c3.4,0,6.6,0,10,0 C110.9,56.9,110.9,60.3,110.9,63.7z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-linkedin u-social-type-logo u-icon-10"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bf9c"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-bf9c" class="u-svg-content"><path d="M33.8,96.8H14.5v-58h19.3V96.8z M24.1,30.9L24.1,30.9c-6.6,0-10.8-4.5-10.8-10.1c0-5.8,4.3-10.1,10.9-10.1 S34.9,15,35.1,20.8C35.1,26.4,30.8,30.9,24.1,30.9z M103.3,96.8H84.1v-31c0-7.8-2.7-13.1-9.8-13.1c-5.3,0-8.5,3.6-9.9,7.1 c-0.6,1.3-0.6,3-0.6,4.8V97H44.5c0,0,0.3-52.6,0-58h19.3v8.2c2.6-3.9,7.2-9.6,17.4-9.6c12.7,0,22.2,8.4,22.2,26.1V96.8z"></path></svg></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-10 u-size-30-md u-image-3">
                                    <div class="u-container-layout"></div>
                                </div>
                                <div class="u-container-style u-layout-cell u-size-20 u-size-30-md u-layout-cell-6">
                                    <div class="u-container-layout u-valign-middle u-container-layout-7">
                                        <h2 class="u-custom-font u-font-oswald u-text u-text-9">Mary Mgrayan</h2>
                                        <h6 class="u-text u-text-10">statistics TEACHER</h6>
                                        <p class="u-text u-text-11">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-3">
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-facebook u-social-type-logo u-icon-11"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d7b3"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-d7b3" class="u-svg-content"><path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-twitter u-social-type-logo u-icon-12"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6481"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-6481" class="u-svg-content"><path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-instagram u-social-type-logo u-icon-13"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-116e"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-116e" class="u-svg-content"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-google u-social-type-logo u-icon-14"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-91bd"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-91bd" class="u-svg-content"><path d="M62.2,81.6c-8.6,11.2-24.6,14.4-37.6,10C10.9,87,0.8,73.2,1,58.5c-0.8-18,15.2-34.6,33.1-34.9 c9.2-0.8,18.2,2.7,25,8.6c-2.9,3.1-5.7,6.2-8.9,9.2c-6.2-3.8-13.5-6.5-20.6-4C18.1,40.7,11,54.2,15.4,65.6 c3.5,11.8,17.8,18.3,29.2,13.2c5.8-2.1,9.7-7.4,11.3-13.2c-6.6-0.1-13.2,0-20.1-0.3c0-3.9,0-7.9,0-11.9c11.2,0,22.2,0,33.3,0 C69.9,63.4,68.3,73.9,62.2,81.6z M110.9,63.7c-3.4,0-6.6,0-10,0c0,3.4,0,6.6,0,10c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10 c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10c3.4,0,6.6,0,10,0c0-3.4,0-6.6,0.1-10c3.4,0,6.6,0,10,0c0,3.4,0,6.6,0,10c3.4,0,6.6,0,10,0 C110.9,56.9,110.9,60.3,110.9,63.7z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-linkedin u-social-type-logo u-icon-15"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-68a1"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-68a1" class="u-svg-content"><path d="M33.8,96.8H14.5v-58h19.3V96.8z M24.1,30.9L24.1,30.9c-6.6,0-10.8-4.5-10.8-10.1c0-5.8,4.3-10.1,10.9-10.1 S34.9,15,35.1,20.8C35.1,26.4,30.8,30.9,24.1,30.9z M103.3,96.8H84.1v-31c0-7.8-2.7-13.1-9.8-13.1c-5.3,0-8.5,3.6-9.9,7.1 c-0.6,1.3-0.6,3-0.6,4.8V97H44.5c0,0,0.3-52.6,0-58h19.3v8.2c2.6-3.9,7.2-9.6,17.4-9.6c12.7,0,22.2,8.4,22.2,26.1V96.8z"></path></svg></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-container-style u-image u-layout-cell u-size-10 u-size-30-md u-image-4">
                                    <div class="u-container-layout"></div>
                                </div>
                                <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-layout-cell-8">
                                    <div class="u-container-layout u-valign-middle u-container-layout-9">
                                        <h2 class="u-custom-font u-font-oswald u-text u-text-12">Hanna Kim</h2>
                                        <h6 class="u-text u-text-13">economics TEACHER</h6>
                                        <p class="u-text u-text-14">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-4">
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-facebook u-social-type-logo u-icon-16"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5449"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-5449" class="u-svg-content"><path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-twitter u-social-type-logo u-icon-17"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5d2a"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-5d2a" class="u-svg-content"><path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-instagram u-social-type-logo u-icon-18"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-957e"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-957e" class="u-svg-content"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-google u-social-type-logo u-icon-19"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-721d"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-721d" class="u-svg-content"><path d="M62.2,81.6c-8.6,11.2-24.6,14.4-37.6,10C10.9,87,0.8,73.2,1,58.5c-0.8-18,15.2-34.6,33.1-34.9 c9.2-0.8,18.2,2.7,25,8.6c-2.9,3.1-5.7,6.2-8.9,9.2c-6.2-3.8-13.5-6.5-20.6-4C18.1,40.7,11,54.2,15.4,65.6 c3.5,11.8,17.8,18.3,29.2,13.2c5.8-2.1,9.7-7.4,11.3-13.2c-6.6-0.1-13.2,0-20.1-0.3c0-3.9,0-7.9,0-11.9c11.2,0,22.2,0,33.3,0 C69.9,63.4,68.3,73.9,62.2,81.6z M110.9,63.7c-3.4,0-6.6,0-10,0c0,3.4,0,6.6,0,10c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10 c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10c3.4,0,6.6,0,10,0c0-3.4,0-6.6,0.1-10c3.4,0,6.6,0,10,0c0,3.4,0,6.6,0,10c3.4,0,6.6,0,10,0 C110.9,56.9,110.9,60.3,110.9,63.7z"></path></svg></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="">
                                                <span class="u-icon u-icon-circle u-social-linkedin u-social-type-logo u-icon-20"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c580"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-c580" class="u-svg-content"><path d="M33.8,96.8H14.5v-58h19.3V96.8z M24.1,30.9L24.1,30.9c-6.6,0-10.8-4.5-10.8-10.1c0-5.8,4.3-10.1,10.9-10.1 S34.9,15,35.1,20.8C35.1,26.4,30.8,30.9,24.1,30.9z M103.3,96.8H84.1v-31c0-7.8-2.7-13.1-9.8-13.1c-5.3,0-8.5,3.6-9.9,7.1 c-0.6,1.3-0.6,3-0.6,4.8V97H44.5c0,0,0.3-52.6,0-58h19.3v8.2c2.6-3.9,7.2-9.6,17.4-9.6c12.7,0,22.2,8.4,22.2,26.1V96.8z"></path></svg></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-image u-parallax u-shading u-section-5" src="" id="sec-3471">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-15 u-size-30-md u-layout-cell-1">
                            <div class="u-container-layout u-valign-top u-container-layout-1">
                                <h1 class="u-custom-font u-font-oswald u-text u-title u-text-1" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">44</h1>
                                <p class="u-text u-text-2">TEACHERS</p>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-2">
                            <div class="u-container-layout u-valign-top u-container-layout-2">
                                <h1 class="u-custom-font u-font-oswald u-text u-title u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">+10 K</h1>
                                <p class="u-text u-text-4">CUSTOMERS</p>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-3">
                            <div class="u-container-layout u-valign-top u-container-layout-3">
                                <h1 class="u-custom-font u-font-oswald u-text u-title u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">+47</h1>
                                <p class="u-text u-text-6">COURSES</p>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-15 u-size-30-md u-layout-cell-4">
                            <div class="u-container-layout u-valign-top u-container-layout-4">
                                <h1 class="u-custom-font u-font-oswald u-text u-title u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">15</h1>
                                <p class="u-text u-text-8">YEARS OF EXPERIENCE</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-6" id="sec-80d0">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-container-style u-group u-group-1">
                <div class="u-container-layout u-valign-middle">
                    <h2 class="u-custom-font u-font-oswald u-text u-text-1">Новости</h2>
                    <p class="u-text u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
            </div>
            <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-20 u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1">
                                    <div class="u-container-layout"></div>
                                </div>
                                <div class="u-container-style u-layout-cell u-left-cell u-size-40 u-layout-cell-2">
                                    <div class="u-container-layout u-container-layout-3">
                                        <h2 class="u-custom-font u-font-oswald u-text u-text-3">
                                            <a name="top">Our university</a>
                                        </h2>
                                        <p class="u-text u-text-4">
                                            Our campuses offer high quality learning, teaching and research spaces to better meet the needs of students, academics and researchers.<br>
                                            <br>Is a major Australian university with a global outlook and a real-world
                                            focus. We are one of the nation’s fastest growing research universities and our courses are in high demand. Our graduates include eight Rhodes Scholars, five of these awarded in the past six years.<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20 u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-layout-cell u-size-40 u-layout-cell-3">
                                    <div class="u-container-layout u-container-layout-4">
                                        <blockquote class="u-border-black u-custom-font u-text u-text-font u-text-5">
                                            We are an ambitious and collaborative institution that seeks to equip our students and graduates with the skills they'll need in an increasingly disrupted and challenged world. We are transforming the student experience
                                            we offer our 50,000 students and we place a premium on the international and national accreditation of our various professional degrees.
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="u-container-style u-image u-layout-cell u-size-20 u-image-2">
                                    <div class="u-container-layout"></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-3">
                                    <div class="u-container-layout"></div>
                                </div>
                                <div class="u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-6">
                                    <div class="u-container-layout">
                                        <h2 class="u-custom-font u-font-oswald u-text u-text-6">
                                            <a class="nicdark_color_greydark nicdark_first_font" href="http://www.nicdarkthemes.com/themes/education/html/demo/university/single.php">Course Registration</a>
                                        </h2>
                                        <p class="u-text u-text-7">
                                            Our internationally award-winning Science and Engineering Centre is home to The Cube, acknowledged as one of the world’s largest digital interactive learning and display spaces. We established the world's first
                                            Creative Industries Faculty, and we invest heavily in collaborative learning and interdisciplinary research environments.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-7" id="sec-2e33">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-left-cell u-size-12 u-size-60-md u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                                <img src="~/Images/fd088fa9e04993bca1d7288f0c7b9ddd.png" alt="" class="u-image u-image-default u-image-1" data-image-width="400" data-image-height="122">
                            </div>
                        </div>
                        <div class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-12 u-size-60-md u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                                <img src="~/Images/c8c5e25932eaa58b7812abf7bb2960f5.png" alt="" class="u-image u-image-default u-image-2">
                            </div>
                        </div>
                        <div class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-12 u-size-60-md u-layout-cell-3">
                            <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                                <img src="~/Images/11169ee3439dd229c3d68b877516e1a0.png" alt="" class="u-image u-image-default u-image-3">
                            </div>
                        </div>
                        <div class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-12 u-size-60-md u-layout-cell-4">
                            <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-4">
                                <img src="~/Images/9b534f8d3c73950344420c862b51589b.png" alt="" class="u-image u-image-default u-image-4">
                            </div>
                        </div>
                        <div class="u-align-center-sm u-align-center-xs u-container-style u-hidden-md u-layout-cell u-right-cell u-size-12 u-size-60-md u-layout-cell-5">
                            <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-5">
                                <img src="~/Images/3425b4f540706edc83ab86a3032b1047.png" alt="" class="u-image u-image-default u-image-5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>