@{
    Layout = null;
}

<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Teacher in progress</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Student_InProgress.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.6.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <meta property="og:title" content="Student_InProgress">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#73a3de">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">
    <header class="u-clearfix u-header u-sticky u-white u-header" id="sec-e20f">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <img src="~/Images/photo_2021-02-10_14-38-33.jpg" alt="" class="u-align-left u-image u-image-default u-image-1" data-image-width="300" data-image-height="70">

            <nav class="u-align-left u-menu u-menu-dropdown u-nav-spacing-25 u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 700;">
                    <a class="u-btn-text u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#" style="padding: 2px 0px; font-size: calc(1em + 4px);">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-custom-font u-nav u-spacing-30 u-text-font u-unstyled u-nav-1">
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" style="padding: 10px 0px;">Преподаватель</a><div class="u-nav-popup">
                                <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2">
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link">Профиль</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link">Настройки</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="../Home/Index">Выйти</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" style="padding: 10px 0px;">Преподаватель</a><div class="u-nav-popup">
                                        <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-4">
                                            <li class="u-nav-item">
                                                <a class="u-button-style u-nav-link">Профиль</a>
                                            </li>
                                            <li class="u-nav-item">
                                                <a class="u-button-style u-nav-link">Настройки</a>
                                            </li>
                                            <li class="u-nav-item">
                                                <a class="u-button-style u-nav-link" href="../Home/Index">Выйти</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <section class="u-clearfix u-section-1" id="sec-7d89">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-expanded-width u-tabs u-tabs-1" style=" margin: 40px 0px 0px 0px;">
                <ul class="u-tab-list u-unstyled">
                    <li class="u-tab-item" style="margin: 0px 10px;">
                        <a class=" u-border-3 u-border-active-grey-75 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style " href="../Home/Teacher">Мои курсы</a>
                    </li>
                    <li class="u-tab-item" style="margin: 0px 10px;">
                        <a class=" u-border-3 u-border-active-grey-75 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style " href="../Home/Teacher_InProgress">Непроверенные курсы</a>
                    </li>
                    <li class="u-tab-item" style="margin: 0px 10px;">
                        <a class="active u-border-3 u-border-active-grey-75 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style " href="../Home/Teacher_Done">Завершенные</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="u-align-left u-clearfix u-grey-10 u-section-2" id="sec-3238">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h2 class="u-text u-text-1">Завершенные</h2>
            <!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":2}--><!--/blog_options_json-->
            <div class="u-blog u-expanded-width u-repeater u-repeater-1">
                <!--blog_post-->
                <div class="u-align-left u-blog-post u-container-style u-repeater-item u-white u-repeater-item-1">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <a class="u-post-header-link" href="#">
                            <!--blog_post_image-->
                            <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-1" src="~/Images/1.jpeg"><!--/blog_post_image-->
                        </a><!--blog_post_header-->
                        <h4 class="u-blog-control u-text u-text-1">
                            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Название курса<!--/blog_post_header_content--></a><br />
                            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Студент: Коля Вася<!--/blog_post_header_content--></a><br />
                            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Поток: 3<!--/blog_post_header_content--></a><br />
                        </h4><!--/blog_post_header--><!--blog_post_content-->
                        <div class="u-blog-control u-post-content u-text u-text-2"><!--blog_post_content_content-->Описание задания<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
                        <a href="#" class="u-blog-control u-btn u-button-style u-btn-1"><!--blog_post_readmore_content-->Перейти<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
                    </div>
                </div><!--/blog_post--><!--blog_post-->
                <div class="u-align-left u-blog-post u-container-style u-repeater-item u-white u-repeater-item-2">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <a class="u-post-header-link" href="#">
                            <!--blog_post_image-->
                            <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-1" src="~/Images/1.jpeg"><!--/blog_post_image-->
                        </a><!--blog_post_header-->
                        <h4 class="u-blog-control u-text u-text-1">
                            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Название курса<!--/blog_post_header_content--></a><br />
                            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Студент: Коля Вася<!--/blog_post_header_content--></a><br />
                            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Поток: 3<!--/blog_post_header_content--></a><br />
                        </h4><!--/blog_post_header--><!--blog_post_content-->
                        <div class="u-blog-control u-post-content u-text u-text-2"><!--blog_post_content_content-->Описание задания<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
                        <a href="#" class="u-blog-control u-btn u-button-style u-btn-1"><!--blog_post_readmore_content-->Перейти<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
                    </div>
                </div><!--/blog_post-->
            </div><!--/blog-->
        </div>
    </section>


</body>
</html>